{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
  <title>Rewrk</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>

  <!-- Custom -->
  <link rel="stylesheet" href="{% static 'style.css' %}">



</head>

<body class="d-flex flex-column h-100 main-bg">

  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><span>Rewrk</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li {% if '/' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
            <a class="nav-link" href="{% url 'home' %}">All Services</a>
          </li>
          <li {% if 'service' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
            {% endif %}>
            <a class="nav-link" href="{% url 'service_booking' %}">Book Service</a>
          </li>
          <li {% if 'case_study' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
            {% endif %}>
            <a class="nav-link" href="{% url 'case_study' %}">Case Studies</a>
          </li>
          {% if user.is_authenticated %}
          <li class='nav-item px-2'>
            <a class="nav-link" href="{% url 'booked_services' %}">My Bookings</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li {% if 'dashboard' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
            {% endif %}>
            <a class="nav-link" href="{#}">Hey {{user.username}}!</a>
                </li>

                <li class="nav-item mr-3">
                    <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    <form id="logout" action="{% url 'account_logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden">
                    </form>
                </li>
            {% else %}
                <li 
                {% if 'register' in request.path %} 
                    class="nav-item active mr-3"
                {% else %} 
                    class="nav-item mr-3"
                {% endif %}>
                    <a class="nav-link" href="{% url 'account_signup' %}">
                        <i class="fas fa-user-plus"></i> Register</a>
                </li>
                <li {% if 'login' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'account_login' %}">
                        <i class="fas fa-sign-in-alt"></i>
                        Login</a>
                </li>
            {% endif %}
            </ul>

      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
          
    <main class="flex-shrink-0 main-bg">
        
        {% block content %}

        {% endblock content %}
    </main>

    <footer class=" footer mt-auto pt-2">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-white ">Designed by Aoibhinn Mc Goona</p>
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-white">All Services</a></li>
            <li class="nav-item"><a href="{% url 'service_booking' %}" class="nav-link px-2 text-white">Book
                Service</a></li>
            <li class="nav-item"><a href="{% url 'case_study' %}" class="nav-link px-2 text-white">Case Studies</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'booked_services' %}" class="nav-link px-2 text-white">My
                Bookings</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </footer>

</body>
</html>