{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
              {{ message | safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
<h2 class="text-center mt-5">Your bookings</h2>
<p class="text-center mt-5">A member of our team will be in touch with you shortly. Once your booking has been confirmed you will be able to view the details below.</p>
<!--View booked services-->
<div class="container d-flex justify-content-center">
    <div class="row col-8">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Services</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% for booking in booking_list %}
            <tbody>
                <tr>
                    <td> {{ booking.booking_date }} </td>
                    <td> {{ booking.service_name }} </td>
                    <td><a href="{#}"><small>Edit</small></a></td>
                    <td><a href="{#}"><small>Delete</small></a></td>
                </tr>
            </tbody>
            {% empty %}
                <p class="text-center" style="color:red"><em><strong>You have no services booked. Click on the link below to add a booking.</strong></em></p>
            {% endfor %}
        </table>
    </div>
</div>
<div class="text-center">
    <h5 class="mt-4"><a href="{% url 'create_booking' %}"><u>Click here to book a new service</u></a></h5>
</div>

{% endblock content%}