{% extends "base.html" %}
{% block title %}| Our Services{% endblock title %}

{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://res.cloudinary.com/dqomzncnr/image/upload/v1638220910/Untitled_design_9_gegdaf.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Let's Rewrk Together</h1>
        <p class="lead">Creating exciting digital campaigns, products and platforms for local businesses and brands. We guarantee 
			results across three key business areas: web design & build, social media & digital marketing, and creative content.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
			<a href="{% url 'service_booking' %}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Book Service</button></a>
			<a href="{% url 'case_study' %}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Case Studies</button></a>
        </div>
      </div>
    </div>
  </div>


      
      <!--Main page about information-->


	  <div class="row align-items-md-stretch">
		<div class="col-md-6">
		  <div class="h-100 p-5 rounded-3">
			<h2>Who are we?</h2>
			<p>We are a vibrant, engaged, talent-driven agency where our staff feel empowered, where ideas are encouraged and 
				where outstanding work is rewarded.Rewrk is a place where our clients feel looked after, where they 
				trust our ability to deliver and to come up with new ways of engaging them and helping them engage their audiences. 
				We strive to be a key agency partner to our clients, delivering consistency of work and quality of service.</p>
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="h-100 p-5 rounded-3">
			<h2>What do we do?</h2>
			<p>We are a full-service creative digital agency. Our people, technology and insights help global 
				media and entertainment, sports and lifestyle brands create, manage, localise, distribute and place 
				their content, and evaluate its media reach.</p>
		  </div>
		</div>
	  </div>

<!-- Services -->
<section id="courses" class="py-5">
	<div class="container">
		<h3 class="text-center mb-3">Our services</h3>
		<div class="row">
			{% if services %}
			{% for service in services %}
			<div class="card col-sm-12 col-md-6 col-lg-4 mb-4"> 
				<img class="card-img-top" src="{{ service.featured_image.url }}" alt="Card image cap">
				<div class="card-body">
					<h5 class="text-services">{{ service.service_name }}</h5>
				  <p class="card-text"> {{ service.excerpt }} </p>
				  <a href="{% url 'service_detail' service.slug %}" class="btn btn-primary">Learn More</a>
				</div>
			  </div>
			{% endfor %}

			{% else %}
			<div class="col-md-12">
				<p>No Services Available</p>
			</div>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}