{% extends "base.html" %}
{% block title %}| {{ service.service_name }}{% endblock title %}

{% block content %}

<section id="showcase-inner" class="py-3 text-white">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h1 class="display-5">{{ service.service_name }}</h1>
			</div>
		</div>
	</div>
</section>


<!-- Listing -->
<section id="service" class="py-2">
	<div class="container">
		<a href="{% url 'home' %}" class="btn btn-light mb-4">Back To Services</a>
		<div class="row">
			<div class="col-md-9 py-2">
				<!-- Fields -->
				<div class="row mb-5 fields ">
					<div class="col-lg-12 ">
						<div class="row py-2">
							<div class="col-6 "><i class="fas fa-euro-sign text-secondary" ></i>
								{% if service.price == 0 %}
								{{"Free"}}
								{% else %}
								{{ service.price }}
								{% endif %}
							</div>
						</div>
					</div>
				</div>

				<!-- Description -->
				<div class="row mb-5">
					<div class="col-md-12">
						{{ service.description }} 
					</div>
				</div>

                <form action="{#}" method="post">
					<input type="hidden" name="service">
					<button class="btn btn-primary btn-block">Book Now</button>
				</form>
				<hr>
			</div>
		</div>
	</div>
</section>


{% endblock %}