{% extends "base.html" %}
{% block title %}| Our Services{% endblock title %}

{% block content %}

<!-- Services -->
<section id="courses" class="py-5">
	<div class="container">
		<h3 class="text-center mb-3">Rewrk Services</h3>
		<div class="row">

			{% if services %}
			{% for service in services %}
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
				<div class="card listing-preview h-100">
					<img class="card-img-top" src="{{ placeholder }}" alt="">
					<div class="card-body">
						<div class="listing-heading text-center">
							<h5 class="text-primary">{{ service.service_name }}</h5>
							<div class="row py-2 text-secondary">
								<div class="col-6"><i class="fas fa-euro-sign text-secondary"></i>
									{% if service.price == 0 %}
									{{"Free"}}
									{% else %}
									{{course.price}}
									{% endif %}
								</div>
							</div>
							<hr>
							<a href="{#}" class="btn btn-primary btn-block">Book Now</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

			{% else %}
			<div class="col-md-12">
				<p>No Services Available</p>
			</div>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}